body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

a, a:visited, a:focus {
  color: gold;
}

#canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

footer {
  width: 99%;
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: right;
  margin-bottom: 11px;
}

audio {
  margin-right: 11px;
}

footer .left a {
  position: relative;
  bottom: 7px;
}

footer .right a {
  position: relative;
  bottom: -14px;
}

/* Helper Classes */
.left {
  float: left;
}

.right {
  float: right;
}

/*** Meme Page ***/
div.memeheader {
  float: right;
  position: absolute;
  right: 0;
  top: 0px;
  width: 15%;
}

#bn-photocenter-1-1-3611951122-wrapper {
  position: absolute !important;
  left: 0;
  top: 0;
  width: 85%;
  overflow: scroll;
  float: left;
}
