// Place all the styles related to the memes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
//
.next_rand_div {
    width: 500px;
    display: flex;
    justify-content:space-around
}

.meme {
    max-width: 50vw;
    max-height: 50vw;
}
